<mat-sidenav-container class="example-container" >

  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar class="toolbar">
      <button mat-button (click)="sidenav.toggle()">toggle</button>
      <span class="spacer"></span>
      <button mat-flat-button color="primary" routerLink="home" routerLinkActive="active">Home</button>
      <button mat-flat-button color="primary" routerLink="admin" routerLinkActive="active">Admin</button>
    </mat-toolbar>



    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>



