@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700;900&display=swap');

/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Spartan", "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
}
